[mysqld]
default_authentication_plugin= mysql_native_password
skip-character-set-client-handshake
default-time-zone='+9:00'
character-set-server=utf8mb4
general_log=ON #クエリログが有効
general_log_file=/var/log/mysql/query_log.log #ログファイルのパス

[client]
default-character-set=utf8mb4
loose-local-infile=1
local-infile=1
